.popup__close {
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}
